<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Localbase (Documentation: https://github.com/dannyconnell/localbase) -->
    <script src="https://unpkg.com/localbase/dist/localbase.min.js"></script>
    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Native CSS and JavaScript -->
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}"/>
    <script src="../static/js/main.js" th:src="@{js/main.js}"></script>
    <title>Index</title>
</head>
<body>
<main class="container">
    <h1>Welcome to the testing grounds for the future implementation of Terachess!</h1>
    <label for="num">Insert a number to double it (hopefully)</label><br>
    <input id="num" type="text" name="numInsert">
    <input id="submitButton" type="submit" value="Submit">
    <section class="gridContainer">
        <div class="border border-3 border-dark m-1 bg-success">A1</div>
        <div class="border border-3 border-dark m-1 bg-warning">A2</div>
        <div class="border border-3 border-dark m-1 bg-danger">A3</div>
        <div class="border border-3 border-dark m-1 bg-success">B1</div>
        <div class="border border-3 border-dark m-1 bg-warning">B2</div>
        <div class="border border-3 border-dark m-1 bg-danger">B3</div>
        <div class="border border-3 border-dark m-1 bg-success">C1</div>
        <div class="border border-3 border-dark m-1 bg-warning">C2</div>
        <div class="border border-3 border-dark m-1 bg-danger">C3</div>
    </section>
    </section>
</main>
</body>
</html>