//region SASS Variables
$niceColour: #2EC4A6;
$backgroundColour: #312E2B;
$navBarColour: #272522;
$standardTextColour: #DBD9D7;
$titleFont: "Press Start 2P";
$standardFont: "PT Mono";
$titleFontSize: 35px;
//endregion

body {
    background-color: $backgroundColour;
    font-family: $standardFont, serif;
    color: $standardTextColour;
    font-weight: bolder;
}
main {
    margin: 2vh 11vw;
}
h1 {
    margin: 20px 0;
    border-bottom: 2px solid lightgrey;
    padding: 20px 5px;
    background-color: $navBarColour;
    font-family: $titleFont, serif;
    font-size: $titleFontSize;
    color: white;
    text-align: center;
}
.text-input-output {
    margin-bottom: 1rem;
    background-color: $navBarColour;
    color: $standardTextColour;
}

.flex-item {
    display: inline-block;
    width: 49%;
}
#mainGrid {
    display: inline-grid;
    vertical-align: top;
    grid-template-columns: repeat(8, 1fr);
    div::before {
        content: "";
        padding-bottom: 100%;
        display: block;
    }
}
#gameData {
    padding-top: 2rem;
    padding-left: 2rem;
}


.flex-container {
    /*display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;*/
}
.grid-container {
    /*grid-template-columns: 25% 75%;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 200px 500px;
    grid-template-rows: 200px auto;
    grid-auto-rows: 200px 500px;                 //Does cascading like grid-template-columns
    grid-template-rows: minmax(200px, auto);     //Does minmax for one row
    grid-auto-rows: minmax(200px, auto);         //Does minmax for all rows*/
}